body {
	background: url(http://eskipaper.com/images/rocky-shoreline-wallpaper-1.jpg);
}

h1, p {
	margin-bottom: 20px;
	color: white;
}
h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
}
h1 {
	font-size: 50px;
	line-height: 49px;
	border-bottom: 3px;
	padding-bottom: 10px;
	border-bottom-color: white;
}
div{
	margin: 20px;
	padding: 10px;
	color: white;
}